.popup__button {
  background-color: rgba(0, 0, 0, 1);
  color: #ffffff;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  padding: 14px 0;
  border: 0;
  border-radius: 2px;
  margin: 0;
  display: block;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

@media screen and (max-width: 768px) {
  .popup__button {
    font-size: 14px;
    line-height: 18px;
    padding: 11px 0;
  }
}

.popup__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
