.profile {
  padding: 40px 0 50px;
  min-height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .profile {
    padding: 42px 19px 36px;
    flex-direction: column;
  }
}
