.popup__icon-close {
  width: 58px;
  height: 58px;
  background-color: transparent;
  background-image: url(../../../images/close.svg);
  background-size: 58px 58px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  position: absolute;
  top: -43px;
  right: -43px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

@media screen and (max-width: 768px) {
  .popup__icon-close {
    width: 42px;
    height: 42px;
    background-size: 42px 42px;
    top: -33px;
    right: -33px;
  }
}

.popup__icon-close:hover {
  opacity: 0.6;
}

.popup__icon-close:focus {
  outline: none;
}
